<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadFile</servlet-name>
        <servlet-class>servlets.DownloadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyANotice</servlet-name>
        <servlet-class>servlets.ModifyANotice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetANotice</servlet-name>
        <servlet-class>servlets.GetANotice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddANotice</servlet-name>
        <servlet-class>servlets.AddANotice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteANotice</servlet-name>
        <servlet-class>servlets.DeleteANotice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStudent</servlet-name>
        <servlet-class>servlets.GetStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudent</servlet-name>
        <servlet-class>servlets.DeleteStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudent</servlet-name>
        <servlet-class>servlets.AddStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyStudent</servlet-name>
        <servlet-class>servlets.ModifyStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFaculty</servlet-name>
        <servlet-class>servlets.GetFaculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFaculty</servlet-name>
        <servlet-class>servlets.AddFaculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFaculty</servlet-name>
        <servlet-class>servlets.DeleteFaculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyFaculty</servlet-name>
        <servlet-class>servlets.ModifyFaculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SUploads</servlet-name>
        <servlet-class>servlets.SUploads</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SUDownloadFile</servlet-name>
        <servlet-class>servlets.SUDownloadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatProcess</servlet-name>
        <servlet-class>servlets.ChatProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFNotice</servlet-name>
        <servlet-class>servlets.GetFNotice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFNotice</servlet-name>
        <servlet-class>servlets.AddFNotice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyFNotice</servlet-name>
        <servlet-class>servlets.ModifyFNotice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFNotice</servlet-name>
        <servlet-class>servlets.DeleteFNotice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadFile</servlet-name>
        <url-pattern>/DownloadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyANotice</servlet-name>
        <url-pattern>/ModifyANotice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetANotice</servlet-name>
        <url-pattern>/GetANotice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddANotice</servlet-name>
        <url-pattern>/AddANotice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteANotice</servlet-name>
        <url-pattern>/DeleteANotice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStudent</servlet-name>
        <url-pattern>/GetStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudent</servlet-name>
        <url-pattern>/DeleteStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudent</servlet-name>
        <url-pattern>/AddStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyStudent</servlet-name>
        <url-pattern>/ModifyStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFaculty</servlet-name>
        <url-pattern>/GetFaculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFaculty</servlet-name>
        <url-pattern>/AddFaculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFaculty</servlet-name>
        <url-pattern>/DeleteFaculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyFaculty</servlet-name>
        <url-pattern>/ModifyFaculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SUploads</servlet-name>
        <url-pattern>/SUploads</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SUDownloadFile</servlet-name>
        <url-pattern>/SUDownloadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatProcess</servlet-name>
        <url-pattern>/ChatPro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFNotice</servlet-name>
        <url-pattern>/GetFNotice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFNotice</servlet-name>
        <url-pattern>/AddFNotice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyFNotice</servlet-name>
        <url-pattern>/ModifyFNotice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFNotice</servlet-name>
        <url-pattern>/DeleteFNotice</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
